#task1
Given an int count of a number of chickens, return a string of the
form &#39;Number of chickens: &lt;count&gt;&#39;, where &lt;count&gt; is the number passed in. However, if
the count is 10 or more, then use the word &#39;many&#39; instead of the actual count. So
chickens(5) returns &#39;Number of chickens: 5&#39; and chickens(23) returns &#39;Number of
chickens: many&#39;.**bold text**

In [ ]:
#task1
def chickens(count):
    if count >= 10:
        return "Number of chickens: many"
    else:
        return f"Number of chickens: {count}"

print(chickens(5))
print(chickens(23))

Number of chickens: 5
Number of chickens: many

#task2 Strings from both ends

Create a string made of the first three and the last three characters
of the original string s and return the new string, so &#39;intelligence&#39; creates &#39;intcne&#39;.
However, if the string length is less than 3, return instead the empty string.

In [ ]:
#task2
def stringreturn(string):
  if len(string)< 3 :F
    return " "
  else:
    return string[:3]+string[-3:]

print(stringreturn("intelligence"))

intnce

# task3 occurrences of first character

For a given string s, create a new string such that it replaces some
characters of the string with &#39;@&#39;. To replace, find the first character of the given string s.
Now find all occurrences of this first character in the string and replace them with &#39;@&#39;. Do
not change the first character itself.

e.g. &#39;Ooogle&#39; create &#39;O@@gle&#39;
Assume that the string is length 1 or more and take care of the

word case.

Hint: s.replace(stra, strb) returns a version of string s where all

instances of stra have been replaced by strb.

In [ ]:
#task3

In [ ]:
def replace_occurrences(s):

    first_char = s[0]

    new_string = first_char + s[1:].replace(first_char,"@")
    return new_string


print(replace_occurrences("OOOgle"))
print(replace_occurrences("banana"))
print(replace_occurrences("apple"))

O@@gle
banana
apple

Task 4 String jumble

Create a new string with the help of two input strings a and b. The
new string should be separated by a space b/w a and b. Also swap the first 2 chars of each
string and return it. e.g.

&#39;mix&#39;, pod&#39; -&gt; &#39;pox mid&#39;
&#39;dog&#39;, &#39;dinner&#39; -&gt; &#39;dig donner&#39;

In [ ]:
#task4
def string_jumble(a, b):
    if len(a) < 2 or len(b) < 2:
        return "Both strings must be at least 2 characters long."

    new_a = b[:2] + a[2:]
    new_b = a[:2] + b[2:]
    return new_a + " " + new_b

print(string_jumble("mix", "pod"))
print(string_jumble("dog", "dinner"))
print(string_jumble("hi", "there"))

pox mid
dig donner
th hiere

Task 5 Matching first and last characters

Taking a list of strings as input, our matching function returns the
count of the number of strings whose first and last chars of the string are the same.
Also, only consider strings with length of 2 or more.

In [ ]:
#task5
def matching_first_last(strings):
    count = 0
    for string in strings:
        if len(string) >= 2 and string[0] == string[-1]:
            count += 1
    return count


strings_list = ["level", "hello", "radar", "world", "refer", "noon"]
print(matching_first_last(strings_list))

4

task 6 Group strings in a list

Given a list of strings, return a list with the strings in sorted order,

except group all the strings that begin with &#39;a&#39; first.

e.g. [&#39;mix&#39;, &#39;xyz&#39;, &#39;apple&#39;, &#39;xanadu&#39;, &#39;aardvark&#39;] creates [&#39;aardvark&#39;,

&#39;apple&#39;, &#39;mix&#39;, &#39;xanadu&#39;, &#39;xyz&#39;]

In [ ]:
#task6
def group_and_sort_strings(strings):

    a_strings = [s for s in strings if s.startswith('a')]
    other_strings = [s for s in strings if not s.startswith('a')]


    a_strings.sort()
    other_strings.sort()


    return a_strings + other_strings


strings_list = ['mix', 'xyz', 'apple', 'xanadu', 'aardvark']
print(group_and_sort_strings(strings_list))

['aardvark', 'apple', 'mix', 'xanadu', 'xyz']

#Task7
Sort tuple by last element

Given a list of non-empty tuples, return a list sorted in increasing

order by the last element in each tuple.

e.g. [(1, 7), (1, 3), (3, 4, 5), (2, 2)] creates [(2, 2), (1, 3), (3, 4, 5),

(1, 7)]

Hint: use a custom key= function to extract the last element form

each tuple.

In [ ]:
#task7
def sort_by_last_element(tuples):

    return sorted(tuples, key=lambda x: x[-1])


tuples_list = [(1, 7), (1, 3), (3, 4, 5), (2, 2)]
print(sort_by_last_element(tuples_list))

[(2, 2), (1, 3), (3, 4, 5), (1, 7)]

In [ ]:
#task8
def is_palindrome(s):

    s = s.replace(" ", "").lower()

    return s == s[::-1]


print(is_palindrome("racecar"))
print(is_palindrome("hello"))
print(is_palindrome("A man a plan a canal Panama"))

True
False
True

Task 9 List Flattening

Given a nested list of integers, create a function to flatten the list
to a single-level list. For example, [[1, 2, 3], [4, 5]] will be flattened to [1, 2, 3, 4, 5].

In [ ]:
#task9
def flatten_list(nested_list):
    flat_list = []

    for sublist in nested_list:

        flat_list.extend(sublist)
    return flat_list


nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(flatten_list(nested_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Task 10 List Intersection

Given two lists of integers, create a function to return a list that
contains only the elements that are common between the two lists (without duplicates).
Make sure your program works with lists of different sizes.

In [ ]:
#task10
def list_intersection(list1, list2):

    common_elements = list(set(list1) & set(list2))
    return common_elements


list1 = [1, 2, 2, 3, 4]
list2 = [2, 4, 4, 5, 6]
print(list_intersection(list1, list2))

[2, 4]

Task 11 String Anagrams

Given two strings, create a function to detect if they are anagrams.
An anagram is a word, phrase, or name formed by rearranging the letters of another, such
as cinema, formed from iceman.

In [ ]:
#task11
def list_intersection(list1, list2):

    common_elements = list(set(list1) & set(list2))
    return common_elements


list1 = [1, 2, 2, 3, 4]
list2 = [2, 4, 4, 5, 6]
print(list_intersection(list1, list2))

[2, 4]

Task 12 Binary Search

Given a sorted list of integers, create a function to perform binary
search on the list and return the index of the target element. If the target element is not
found, return -1.

In [ ]:
#task12
def binary_search(sorted_list, target):
    left, right = 0, len(sorted_list) - 1

    while left <= right:
        mid = (left + right) // 2

        if sorted_list[mid] == target:
            return mid
        elif sorted_list[mid] < target:
            left = mid + 1
        else:
            right = mid - 1

    return -1


sorted_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(binary_search(sorted_list, 5))
print(binary_search(sorted_list, 10))

4
-1

Task 13 Merge Sort

Given a list of integers, create a function to sort the list using the
merge sort algorithm. The merge sort algorithm is a recursive sorting algorithm that
works by breaking down the list into smaller sub-lists and then recombining them in a
sorted manner.

In [ ]:
#task13
def merge_sort(lst):
    if len(lst) <= 1:
        return lst


    mid = len(lst) // 2
    left_half = lst[:mid]
    right_half = lst[mid:]

    left_sorted = merge_sort(left_half)
    right_sorted = merge_sort(right_half)


    return merge(left_sorted, right_sorted)

def merge(left, right):
    sorted_list = []
    left_index, right_index = 0, 0

    while left_index < len(left) and right_index < len(right):
        if left[left_index] < right[right_index]:
            sorted_list.append(left[left_index])
            left_index += 1

14 Quick Sort

Given a list of integers, create a function to sort the list using the
quick sort algorithm. The quick sort algorithm is a recursive sorting algorithm that selects
a pivot element from the list and then partitions the other elements into two sub-lists,
according to whether they are less than or greater than the pivot.

In [ ]:
#task14
def quick_sort(lst):
    if len(lst) <= 1:
        return lst


    pivot = lst[-1]
    left = [x for x in lst[:-1] if x <= pivot]
    right = [x for x in lst[:-1] if x > pivot]


    return quick_sort(left) + [pivot] + quick_sort(right)


unsorted_list = [38, 27, 43, 3, 9, 82, 10]
sorted_list = quick_sort(unsorted_list)
print(sorted_list)

[3, 9, 10, 27, 38, 43, 82]

15 Frequency Counter

Given a list of integers, create a function to return a dictionary
that contains the frequency count of each element in the list. For example, the list [1, 2, 2,
3, 4, 2] would return {1:1, 2:3, 3:1, 4:1}.

In [ ]:
#task15
def frequency_counter(lst):
    frequency_dict = {}


    for num in lst:

        if num in frequency_dict:
            frequency_dict[num] += 1

        else:
            frequency_dict[num] = 1

    return frequency_dict

input_list = [1, 2, 2, 3, 4, 2]
print(frequency_counter(input_list))

{1: 1, 2: 3, 3: 1, 4: 1}

16 Count Distinct Elements

Given a list of integers, create a function to return the count of
distinct elements in the list. For example, the list [1, 2, 2, 3, 4, 2] would return 4.

In [ ]:
#task16
def count_distinct_elements(lst):
    distinct_elements = set(lst)
    return len(distinct_elements)

input_list = [1, 2, 2, 3, 4, 2]
print(count_distinct_elements(input_list))

4

17 Union and Intersection of Sets
Given two sets of integers, create a function to return the union
and intersection of the sets as a tuple of two sets. The union is the set of elements that
appear in either set, while the intersection is the set of elements that appear in both sets.

In [ ]:
#task17
def union_and_intersection(set1, set2):

    union_set = set1 | set2

    intersection_set = set1 & set2
    return (union_set, intersection_set)

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = union_and_intersection(set1, set2)
print("Union:", result[0])
print("Intersection:", result[1])

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}

18 Unique values in a dictionary

Given a dictionary, return a list of all the values in the dictionary,

but without any duplicates.

In [ ]:
#task18
def unique_values(dictionary):
    unique_vals = set(dictionary.values())
    return list(unique_vals)

sample_dict = {"a": 1, "b": 2, "c": 1, "d": 3, "e": 2}
print(unique_values(sample_dict))

[1, 2, 3]

Task 19 Most common values in a dictionary

Given a dictionary, return the key(s) of the value(s) that appear

most often. If there is a tie, return all keys.

In [ ]:
#task19
from collections import Counter

def most_common_values(dictionary):
    value_counts = Counter(dictionary.values())
    max_frequency = max(value_counts.values())
    most_common_keys = [key for key, value in dictionary.items() if value_counts[value] == max_frequency]
    return most_common_keys

sample_dict = {"a": 1, "b": 2, "c": 1, "d": 3, "e": 2}
print(most_common_values(sample_dict))

['a', 'b', 'c', 'e']

20 Combine dictionaries

Given two dictionaries d1 and d2, return a new dictionary which
contains all the keys and values from d1 and d2. If a key is in both dictionaries, the value
from d1 takes precedence.

In [ ]:
#task20
def combine_dictionaries(d1, d2):
    combined_dict = d2.copy()
    combined_dict.update(d1)
    return combined_dict

d1 = {"a": 1, "b": 2, "c": 3}
d2 = {"b": 4, "c": 5, "d": 6}
combined = combine_dictionaries(d1, d2)
print(combined)

{'b': 2, 'c': 3, 'd': 6, 'a': 1}

21 Filter list of dictionaries (5 Marks)

Given a list of dictionaries and a key, return a new list that

contains only the dictionaries that have the given key.

In [ ]:
#task21
def filter_dicts_by_key(dict_list, key):

    filtered_list = [d for d in dict_list if key in d]
    return filtered_list


dict_list = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "city": "New York"},
    {"name": "Charlie", "age": 30, "city": "San Francisco"},
    {"city": "Los Angeles"}
]
key = "age"
filtered_dicts = filter_dicts_by_key(dict_list, key)
print(filtered_dicts)

[{'name': 'Alice', 'age': 25}, {'name': 'Charlie', 'age': 30, 'city': 'San Francisco'}]

22 Find duplicates in a list

Given a list, return the elements that are duplicated in the list. The
returned list should only contain the duplicated elements, without any duplicates.

In [ ]:
#task22
def find_duplicates(lst):

    frequency = {}
    for item in lst:
        if item in frequency:
            frequency[item] += 1
        else:
            frequency[item] = 1

    duplicates = [item for item, count in frequency.items() if count > 1]

    return duplicates

input_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]
print(find_duplicates(input_list))

[2, 4, 6]